source "/Users/samanthamau/esp/esp-idf/components/bootloader/Kconfig.projbuild"
source "/Users/samanthamau/esp/esp-idf/components/esp_app_format/Kconfig.projbuild"
source "/Users/samanthamau/esp/esp-idf/components/esp_rom/Kconfig.projbuild"
source "/Users/samanthamau/esp/esp-idf/components/esptool_py/Kconfig.projbuild"
source "/Users/samanthamau/esp/esp-idf/components/partition_table/Kconfig.projbuild"
source "/Users/samanthamau/Desktop/school/year3/spring/ece3011/melodyMath/main/Kconfig.projbuild"